{% extends "base.html" %}

{% block content %}

<div class="container mt-5 mb-5">

    <h3 class="mb-3"> Read the best Blog in town </h3>

    <div class ="row">

        <div class ="col-lg-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="https://media.architecturaldigest.com/photos/57e42deafe422b3e29b7e790/master/pass/JW_LosCabos_2015_MainExterior.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <butten class ="btn btn-success text-white">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </butten>
                    <a href="#" class="btn btn-danger">View Blog</a>
                </div>
            </div>
        </div>

        <div class ="col-lg-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="https://www.tripsavvy.com/thmb/hmI_d_h1CNpYOXI2jzf8-rHvluo=/2540x1694/filters:no_upscale():max_bytes(150000):strip_icc()/luxe-sea-view-f49a9d6ccc97437493b87b481a2f4ed4.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <butten class ="btn btn-success text-white">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </butten>
                    <a href="#" class="btn btn-danger">View Blog</a>
                </div>
            </div>
        </div>

        <div class ="col-lg-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1200/34213482.jpg?k=5aa3de671551e12f41a1d0a4d60eadeeffc13dd82b326ba5f9c327f91dc3cbd5&o=" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <butten class ="btn btn-success text-white">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </butten>
                    <a href="#" class="btn btn-danger">View Blog</a>               
                </div>
            </div>
        </div>

        
    </div>
</div>



{% endblock %}